@font-face {
  /*
  awesome docomo emoji courtesy of https://meowni.ca/posts/og-emoji-font/
  */
  font-family: 'og-emoji';
  src: url('/og-dcm-emoji.ttf') format('truetype');
  /* emoji range */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.btn-primary {
	background: #AF5F00 !important;
}

body {
	background-color: #222222 !important;
    font-family: 'og-emoji', 'DOS' !important;
}

.page-header {
	background: #333333 !important;
}

.page-header h1 {
	color: #BBBBBB !important;
}

a {
	color: #DFAF5F !important;
}

a:visited {
	color: #FFDF87 !important;
}

a:hover {
	color: #DFAF00 !important;
}

.bs-docs-sidenav > li > a {
	color: #AF5F00 !important;
}

.bs-docs-sidenav > li > a:visited {
	color: #AF5F00 !important;
}

.bs-docs-sidenav > li > a:hover {
	background-color: #AF5F00 !important;
	color: #DFAF5F !important;
}

.nav-collapse, .collapse > .nav {
	background: #222222 !important;
}

.nav-collapse, .collapse > .nav > li > a:hover {
	background: #AF5F00 !important;
}
